.content {
  border-radius: var(--radius-4);
}

.fullButton {
  width: 100%;
  background: var(--primary) !important;
  color: var(--on-primary) !important;
}

.fullButton:hover {
  background: var(--primary-dim) !important;
}

.partialButton {
  width: 100%;
  background: var(--tertiary-container) !important;
  color: var(--on-tertiary-container) !important;
}

.partialButton:hover {
  background: var(--tertiary-fixed-dim) !important;
}
